
.entry {
    display: flex;
    flex-direction: column;
    align-items: center;

    border: 1px solid transparent;
    border-radius: 15px;
    overflow: hidden;

    transition: all 0.3s ease-out;

    background-color: var(--secondarySystemBackground);
    border: 1px solid  var(--borderColor);
    
    position: relative;
    flex-shrink: 0;
}


.header {
    display: flex;
    box-sizing: border-box;
    flex-direction: column;

    width: 100%;
    padding: 1rem;
    background: #1c1c1ead;
    backdrop-filter: blur(5px);
    
    position: absolute;
    bottom: 0;

}

.titleContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.newText {
    top: 0px;
    right: 0px;
    padding: 1rem;

    position: absolute;
    font-size: var(--smallFontSize);
    text-transform: uppercase;
}

.entry:hover .downloadContainer {
    height: 32px;
    padding-top: 0.5rem;
    opacity: 1;
}

.entry:hover {
    
    transform: scale(1.1);
    border: 1px solid var(--secondaryBrandColor);
    box-shadow: rgb(244 121 43 / 20%) 0 -25px 18px -14px inset,
    rgb(244 121 43 / 15%) 0 1px 2px,
    rgb(244 121 43 / 15%) 0 2px 4px,
    rgb(244 121 43 / 15%) 0 4px 8px,
    rgb(244 121 43 / 15%) 0 8px 16px,
    rgb(244 121 43 / 15%) 0 16px 32px;

}

.entry:hover .header {
    border-top: 1px solid var(--borderColor);
}


.downloadContainer {

    display: flex;
    flex-direction: row;
    height: 0px;

    padding-top: 0rem;
    transition: all 0.175s ease-out;
    opacity: 0;
}

.downloadContainer :not(:last-child) {
    margin-right: 0.5rem;
}

.img {
    width: 250px;
    height: 250px;
    user-select: none;
    opacity: 0;
    transition: all 0.175s ease-out;
}

.downloadContainer span {
    font-size: var(--header2FontSize);
    color: transparent;
}