
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.counterContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    margin-top: 0;
    user-select: none;
}

.counter {
    font-size: 50px;
    user-select: none;
}


.description {
    margin: 3rem 0rem 6rem 0rem;
    max-width: 650px;
}


@media only screen and (max-width: 800px) {
    .counter {
        font-size: var(--headerFontSize);
        margin: 0.5rem;
    }

    .card {
        margin: 1rem;
    }

    .title {
        font-size: var(--header2FontSize);
    }
}