.navbar {

    display: flex;
    flex-direction: row;
    align-items: center;

    margin-left: auto;
}

a {
    font-size: var(--header2FontSize);
    color: var(--label);

    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5rem;

    background-color: transparent;
    user-select: none;

    transition: background-color 0.15s, transform 0.15s, color 0.15s, box-shadow 0.15s ease-out;
}

a:hover {
    box-shadow:
        rgb(244 121 43 / 15%) 0 1px 2px,
        rgb(244 121 43 / 15%) 0 2px 4px,
        rgb(244 121 43 / 15%) 0 4px 8px,
        rgb(244 121 43 / 15%) 0 8px 16px,
        rgb(244 121 43 / 15%) 0 16px 32px;

    background-color: var(--warningColor);
    color:white;
}

a:active {
    transform: translateY(2px);
    box-shadow: var(--warningSecondary) 0 3px 7px inset;
}

.active {
    color: var(--warningColor);
    text-decoration: underline;
}