.title {
    display: block;
    font-size: var(--headerFontSize);

    background-image: linear-gradient(236deg, var(--brandColor), var(--secondaryBrandColor));
    -webkit-background-clip: text;
    background-color: transparent;
    color: transparent;

    user-select: none;
}

.brandText {
    background-image: linear-gradient(236deg, var(--brandColor), var(--secondaryBrandColor));
    -webkit-background-clip: text;
    background-color: transparent;
    color: transparent;

    user-select: none;
}