.app {
    text-align: center;
    background-color: var(--backgroundColor);

    background: linear-gradient(45deg, var(--backgroundColor) 0%, var(--secondarySystemBackground) 100%);

    min-height: 100vh;
}

.resize {
    max-width: var(--appMaxWidth);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;
}


.header {
    padding: var(--appPaddingDesktop);
    display: flex;
    flex-direction: row;
    align-items: center;

    width: 100%;
    box-sizing: border-box;
}

.footer {
    padding: var(--appPaddingDesktop);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    width: 100%;
    box-sizing: border-box;
    margin-top: auto;
}

.footer * {
    margin: 0 0.5rem;
}

.title {
    font-size: var(--headerFontSize);
    user-select: none;
} 

.text {
    padding: 3rem 0px 5rem 0px;
    color: var(--label);
    max-width: 650px;
    font-size: var(--header2FontSize);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--appPaddingDesktop);
    box-sizing: border-box;

    width: 100%;
}


@media only screen and (max-width: 800px) {

    .content, .header {
        padding: var(--appPaddingMobile);
    }

    .header {
        flex-direction: column;
    }
}