.app {
    text-align: center;
    background-color: var(--backgroundColor);
    min-height: 100vh;
}


.header {
    padding: var(--appPaddingDesktop);
    display: flex;
    flex-direction: row;
    align-items: center;

    max-width: var(--appMaxWidth);
    margin: 0 auto;
    box-sizing: border-box;
}

.title {
    font-size: var(--headerFontSize);
    user-select: none;
} 

.text {
    padding: 3rem 0px 5rem 0px;
    color: var(--label);
    max-width: 650px;
    font-size: var(--header2FontSize);
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: var(--appPaddingDesktop);
    box-sizing: border-box;

    max-width: var(--appMaxWidth);
    margin: 0 auto;
}


@media only screen and (max-width: 800px) {
    .mainMessageContainer {
        padding: 2rem;
    }

    .content, .header {
        padding: var(--appPaddingMobile);
    }

    .header {
        flex-direction: column;
    }
}