body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
    overflow: overlay;
}


html {
    --backgroundColor: #0c1015;
    --secondarySystemBackground: #1C1C1EFF;
    --label: #fff;
    --secondaryLabel: #EBEBF599;
    --tertiaryLabel: #EBEBF54D;

    --brandColor: #f4792b;
    --secondaryBrandColor: #e6ae3c;

    --brandColorDark: #cc6525;
    --secondaryBrandColorDark: #be9032;
 

    --successColor: #34c759;
    --warningColor: #f4792b;
    --warningSecondary: #b0551a;
    --errorColor: #ff3b30;

    --defaultFontSize: 14px;
    --headerFontSize: 24px;
    --header2FontSize: 18px;

    --appMaxWidth: 1506px;

    --appPaddingDesktop: 4rem;
    --appPaddingMobile: 2rem;
}


@font-face {
    font-family: Lato;
    src: url(./assets/fonts/Lato-Regular.ttf);
    font-weight: regular;
}

@font-face {
    font-family: Lato;
    src: url(./assets/fonts/Lato-Bold.ttf);
    font-weight: bold;
}

@font-face {
    font-family: Lato;
    src: url(./assets/fonts/Lato-Thin.ttf);
    font-weight: bold;
}

* {
    font-family: 'Lato';
}


span {
    color: var(--label);
}


a {
    color: var(--label);
    transition: color 0.15s ease-out
}

a:hover {
        background-image: linear-gradient(236deg, var(--brandColor), var(--secondaryBrandColor));
        -webkit-background-clip: text;
        background-color: transparent;
        color: transparent;
}